.user-screen { display: flex }
.map-box { flex: 1 1 auto }
.menu-box {
    flex: 0 0 200px;
    flex-direction: column;
}
.menu-item{
    width: 200px;
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
}
.menu-field {
    flex: 1 1 auto;
    vertical-align: middle;
    margin: auto;
}
input.menu-field {
    width: 100%;
}
.menu-label {
    width: 80px;
}
.section {
    padding-bottom: 3ex;
}

h3 {
    padding-top: 1ex;
    padding-bottom: 1ex;
}

h4 {
    padding-top: 1.5ex;
    padding-bottom: 0.5ex;
}

input[type="file"] {
    display: none;
}