.user-screen { display: flex }
.map-box { flex: 1 1 auto }
.menu-box {
    flex: 0 0 200px;
    flex-direction: column;
}
.menu-item{
    width: 200px;
    display: flex;
    flex-direction: row;
}
.menu-field {
    vertical-align: middle;
    flex: 1 1 auto;
    padding-left: 1em;
    margin: auto;
}
.menu-label {
    flex: 0 0 auto;
    margin: auto;
}
.section {
    padding-bottom: 3ex;
}

h3 {
    padding-top: 1ex;
    padding-bottom: 1ex;
}

h4 {
    padding-top: 1.5ex;
    padding-bottom: 0.5ex;
}